body { font-family: avenir;
        background-color: white;
         font-style: normal;
       text-align: center}

h1 { color: black;
    font-family: garamond;
     font-style: normal;
   text-align: center}

h2 {color: green;
    font-family: avenir;
    font-style: italic;
  text-align: center}

h3 {color: blue;
    font-family: garamond;
    font-style: normal;
    font-stretch:ultra-expanded;
  text-align: center}
