body { font-family: avenir;
        background-color: white;
         font-style: normal}

h1 { color: blue;
    font-family: futura;
     font-style: normal}

h2 {color: green;
    font-family: futura;
    font-style: italic}

h3 {color: red;
    font-family: avenir;
    font-style: normal;
    font-stretch:ultra-expanded;}
